@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

body {
  background-color: #ffebcd;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 600;
  font-style: normal;
}

hr {
  height: 1px;
  border: 1px black;
  background-color: black;
  border-radius: 100px;
}

.h1-div {
  width: 100vh;
  margin: auto;
  position: relative;

  hr {
    height: 1px;
    border: 1px black;
    background-color: black;
    border-radius: 100px;
    margin-top: -40px;
  }
}

.links {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    text-decoration: none;
    font-family: "Allura";
    font-size: large;
    color: darkblue;
  }

  a:link {
    color: darkblue;
  }

  /* visited link */
  a:visited {
    color: darkblue;
  }

  /* mouse over link */
  a:hover {
    color: darkblue;
  }

  /* selected link */
  a:active {
    color: darkblue;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Allura";
  background-color: wheat;
  color: rgb(0, 0, 0);
  text-align: center;
}

.main-div {
  padding: 50px;
  width: 100vh;
  font-family: "PT Sans Narrow", sans-serif;
  margin: auto;
}

.login-register-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.register {
  width: 20%;
  height: 45vh;
  background-color: blanchedalmond;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  margin: auto;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;

  h1 {
    letter-spacing: 5px;
  }

  input {
    margin: 15px;
  }

  hr {
    height: 2px;
    width: 90%;
  }
}

.login {
  width: 20%;
  height: 45vh;
  background-color: blanchedalmond;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  margin: auto;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;

  h1 {
    letter-spacing: 5px;
  }

  input {
    margin: 15px;
  }

  hr {
    height: 2px;
    width: 90%;
  }
}

input[type="text"] {
  border: 2px solid black;
  border-radius: 4px;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

input[type="password"] {
  border: 2px solid black;
  border-radius: 4px;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
  outline: none;

  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

input[type="text"]:focus {
  border: 2px solid red;
  border-radius: 4px;
  overflow: hidden;
}

input[type="password"]:focus {
  border: 2px solid red;
  border-radius: 4px;
  overflow: hidden;
}

input[type="submit"] {
  margin: auto;
  margin-top: 25px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 22px;
  color: #fff;
  background-color: #e76f51;
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition: 311ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 311ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #f4a261;
  color: #000000;
}
/* Notification Styles */
.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "PT Sans Narrow", sans-serif;
  animation: slideIn 0.5s, slideOut 0.5s 2.5s;
  z-index: 1000;
}

/* Animation for notification */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.akutalnosciCreator {
  width: 30%;
  height: 25vh;
  background-color: rgba(255, 217, 204, 0.7);
  border-radius: 10px;
  margin: auto;
  padding: 25px;

  textarea {
    overflow: hidden;
    resize: none;
    font-family: "PT Sans Narrow", sans-serif;
    border-radius: 10px;
    font-size: medium;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 20vh;
    outline: none;
  }

  textarea:focus{
    box-shadow: 1px 1px 10px #d38572;;
  }

}
